#nav_list a {
  text-decoration: none;
  list-style: none;
  gap: 48px;
}

.mob-item.active a {
  color: #1d1d1d;
  border-bottom: 3px solid coral;
}

.btn-default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: coral;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-default:hover {
  background-color: aquamarine;
}

#mobile_menu.active {
  display: block;
}
